@keyframes changeBgMobFirstTheme {
  0% {
    background-image: url('../img/background/mob/img_bg_mob_1.jpg');
    background-size: cover;
  }

  33% {
    background-image: url('../img/background/mob/img_bg_mob_2.jpg');
    background-size: cover;
  }

  64% {
    background-image: url('../img/background/mob/img_bg_mob_3.jpg');
    background-size: cover;
  }

  100% {
    background-image: url('../img/background/mob/img_bg_mob_1.jpg');
    background-size: cover;
  }
}

@keyframes changeBgTabFirstTheme {
  0% {
    background-image: url('../img/background/tab/img_bg_tab_1.jpg');
    background-size: cover;
  }

  33% {
    background-image: url('../img/background/tab/img_bg_tab_2.jpg');
    background-size: cover;
  }

  64% {
    background-image: url('../img/background/tab/img_bg_tab_3.jpg');
    background-size: cover;
  }

  100% {
    background-image: url('../img/background/tab/img_bg_tab_1.jpg');
    background-size: cover;
  }
}

@keyframes changeBgDesktopFirstTheme {
  0% {
    background-image: url('../img/background/desktop/img_bg_desktop_1.jpg');
    background-size: cover;
  }

  33% {
    background-image: url('../img/background/desktop/img_bg_desktop_2.jpg');
    background-size: cover;
  }

  64% {
    background-image: url('../img/background/desktop/img_bg_desktop_3.jpg');
    background-size: cover;
  }

  100% {
    background-image: url('../img/background/desktop/img_bg_desktop_1.jpg');
    background-size: cover;
  }
}

@keyframes smoothOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
