@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Rubik:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  min-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}

.container {
  padding: 0 24px;
  margin: 0 auto;
}
